/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700); */

body {
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,
}
council-stats list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

council-stats list > item {
  width: 420px;
  margin: 3px;
}

svg.icon {
  width: 32px;
  stroke: #4d6a79;
  fill: #4d6a79;
}


value-picker > * {
  display: inline-block;
  margin: 3px 9px;
}

value-picker .active {
  font-weight: bold;
}
